<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/led/management.js" defer></script>
  <link rel="stylesheet" href="/css/led/management.css">

  <title>LED 관리</title>
</head>
<body>
  <!-- 타이틀 -->
  <h1 class="title">LED 관리</h1>

  <!-- LED 버튼 -->
  <section class="led">
    <button class="led-btn" id="led-on">ON</button>
    <button class="led-btn" id="led-off">OFF</button>
  </section>

  <!-- LED 상태 메세지 -->
  <h2 id="status">버튼을 클릭해주세요</h2>
    
</body>
</html>