<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/led/management.js" defer></script>
  <link rel="stylesheet" href="/css/led/management.css">

  <title>LED 관리</title>
</head>
<body>
  <h1 class="title">LED 관리</h1>
  <form action="/on" method="POST">
    <button class="led-btn" id="led-on">ON</button>
  </form>

  <form action="/off" method="POST">
    <button class="led-btn" id="led-off">OFF</button>
  </form>
    
</body>
</html>